header {
    width: 100%;
    position: fixed;
    z-index: 3;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10 20px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
}

/*Logo*/

.logo-busqueda {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-style: none;
}

.logo-busqueda-link {
    text-decoration: none;
}

.join {
    color: #ffffff;
}

.us {
    background: linear-gradient(90deg, #ffcc00, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Nav derecha*/

.nav-derecha a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.nav-derecha p {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.nav-derecha p:hover {
    color: #ff9900;
    transform: scale(1.1);
}

/* Mian */

.banner {
    display: flex;
    align-items: center;
    padding: 60px;
}


.text-content {
    color: white;

}

.text-content h2 {
    font-size: 80px;
    letter-spacing: 3px;
}

.text-content p{
    font-size: 35px;
    font-weight: 300;
}