body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #ff9900, #0f0f0f);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 320px;
  backdrop-filter: blur(4px);
}

.login-container .logo {
  font-size: 32px;
  margin: 0 0 10px;
}

.join {
  color: #000;
  background: linear-gradient(90deg, #ffcc00, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.us {
  color: white;
  font-weight: 800;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 22px;
  color: #ffffff;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
  font-size: 15px;
}

.login-container input::placeholder {
  color: #aaa;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #ff9900;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-container button:hover {
  background-color: #e68200;
}

.mensaje-sesion {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #1f1f1f;
  color: #00ff88;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 600;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}