@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    font-weight: 800px;
    font-size: 40px;
}

.title span {
    color: #efb810;
}

.busqueda {
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 5px;
}

.navbar {
    
}

a {
    text-decoration: none;
    color: black;
}