@mixin box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@mixin principal-color {
    color: #FDA703;
}

@mixin blur {
    background-color: transparent;
	backdrop-filter: blur(5px) saturate(1.0);
}