/* ============================
  Responsive: Tablets (max-width: 1024px)
============================= */

@media (max-width: 1024px) {

}



/* ============================
    Responsive: Móviles (max-width: 768px)
  ============================= */

@media (max-width: 768px) {
   
}


/* ============================
    Responsive: Pantallas grandes (min-width: 1440px)
  ============================= */

@media (min-width: 1440px) {
   
}