.bodyConfig {
	margin: 0;
	background-color: #000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
}

.config-container {
	max-width: 600px;
	margin: 60px auto;
	background-color: #111;
	border-radius: 16px;
	padding: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

	h2 {
		font-size: 24px;
		color: #fa9510;
		margin-bottom: 25px;
		text-align: center;
	}
}

.config-opcion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
	transition: background 0.3s ease;

	&:hover {
		background-color: #222;
	}

	label {
		font-size: 16px;
		color: #ddd;
	}

	input[type="checkbox"] {
		transform: scale(1.2);
		cursor: pointer;
	}
}

.guardar-config {
	display: block;
	margin: 30px auto 0;
	background-color: #fa9510;
	color: #fff;
	padding: 12px 24px;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #ffab3e;
	}
}

header {
	width: 100%;
	position: fixed;
	z-index: 3;
	min-height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10 20px;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(6px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	left: 0;
	top: 0;
}

.logo-busqueda {
	position: absolute;
	left: 20px;
	display: flex;
	align-items: center;
	gap: 30px;
	border-style: none;
}
.logo-busqueda-link {
	text-decoration: none;
}
.join {
	color: #ffffff;
}
.us {
	color: #ff9900;
	text-decoration: none;
}
.nav-central {
	position: absolute;
	display: flex;
	gap: 20px;
	a {
		img {
			height: 50px;
			width: 50px;
		}
	}
}
.nav-derecha {
	position: absolute;
	right: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.user {
	img {
		height: 50px;
		width: 50px;
	}
}
.nav-central a img,
.nav-derecha a img {
	transition: transform 0.3s ease;
}
.nav-central a:hover img,
.nav-derecha a:hover img {
	transform: scale(1.2);
}
