.eventos-container {
	max-width: 700px;
	margin: 60px auto;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 100px;
	h2 {
		color: #000000;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		color: #000000;
	}
}
.evento {
	background-color: #1a1a1a;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	border-left: 4px solid #f78820;
	h3 {
		margin-top: 0;
		color: #fff;
	}
	p {
		margin: 5px 0;
		font-size: 14px;
		color: #fffefe;
	}
}
